streamlit
pandas
numpy
matplotlib
plotly
scikit-learn
nltk
transformers
wordcloud
google-api-python-client

# Versión ligera de TensorFlow para evitar que el servidor colapse
tensorflow-cpu

# Forzar la descarga de la versión ligera (CPU) de PyTorch
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
